/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdfdfd;
    overflow-x: hidden;
}



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para as imagens dos produtos */
.product img {
    width: 100%; /* Define a largura da imagem como 100% do espaço disponível */
    max-width: 100%; /* Define uma largura máxima para a imagem (ajuste conforme necessário) */
    height: auto; /* Mantém a proporção original da imagem */
}


/* Estilos para o cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 2;
    text-align: center;
}

/* Estilos para o menu de navegação */
.menu {
    text-align: left;
}
.barra {
    float: right; 
}

.menu-item {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 18px;
}

/* Estilos para os ícones do menu */
.menu-item i {
    margin-right: 5px;
}



/* Estilos para seções */
h2 {
    font-size: 24px;
    margin-top: 20px;
}

/* Estilos para a seção de produtos em destaque */
.featured-products {
    text-align: center;
}

/* Estilos para a classe .slick-carousel (o contêiner dos produtos) */
.slick-carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
}

/* Estilos para cada produto */
.product {
    text-align: left; 
    padding: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    bottom: 0; 
    width: 100%; 
    font-size: 10px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .menu {
        display: flex;
        justify-content:left;
        flex-wrap: wrap;
    }

    .menu-item {
        margin: 10px;
    }

    h2 {
        font-size: 20px;
    }
}

/* Estilo para a barra de pesquisa */
.barra {
    text-align: right;
}
#search-bar {
    padding: 4px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px; 
    margin: 0 10px;
}

/* Estilo para o botão de pesquisa */
#search-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    
}

/* Estilo para o ícone de pesquisa */
#search-button i {
    font-size: 18px;
}

/* Estilos para centralizar o conteúdo da classe .contact-form */
.contact-form {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh; /* Centraliza verticalmente na altura da janela */
    border: 1px solid #ccc; 
    border-radius: 5px; 

}


/* Estilos para o formulário de contato */
.contact-form form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    height: 50%;
    width: 25%;
    box-shadow: 2px 2px 4px rgba(2, 2, 2, 0.3);
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    width: 70%;
    height: 50%;
    margin: 0 auto; /* Centraliza horizontalmente */
    display: block; /* Permite que o margin funcione para alinhar verticalmente */
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 98%;
}



/* Estilos para o botão "Adicionar ao Carrinho" */
.add-to-cart {
    background-color: #333; 
    color: #fff;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    width: 100%;
}

/* Estilos para o botão ao passar o mouse */
.add-to-cart:hover {
    background-color: #f3f7fc; 
    color: #000;
}

/* Estilos para as categorias */
.categories {
    text-align: center;
    margin: 20px 0;
}

.category {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333; /* Cor de fundo da categoria */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remova o sublinhado do link */
    border-radius: 5px; /* Cantos arredondados */
    transition: background-color 0.3s; /* Efeito de transição suave */
}

.category:hover {
    background-color: #f9fbfd;
    color: #000;
}
